@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'android';
    src: url(./pacote-projeto-d010/fontes/idroid.otf);
    font-weight: normal;
}
:root{
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
    --fonte-android: 'android', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: var(--fonte-padrao);
}
body{
    background-color: var(--cor1);
}
header{
    color: white;    
    background-image: linear-gradient( #3ddc84, #2fa866, #1a5c37);
    text-align: center;
    min-height: 120px;
    padding-top: 40px;
    
}
header > h1{
    font-family: var(--fonte-destaque);
    font-size: 2.8em;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.356);
    margin-bottom: 20px;
}
header > p{
    font-size: 1.2em;
    font-weight: lighter;
    max-width: 500px;
    margin: auto;
    padding-bottom: 30px;
}
nav{
    background-color: #1a5c37;
    min-height: 30px;
    padding: 4.5px;
}
nav > a{
    color: white;
    font-size: 18px;
    padding: 10px;
    transition-duration: .2s;
}
nav > a:hover{
    padding: 15.5px;
    transition:0.5s;
    font-weight: bold;
    background-color: var(--cor1);
    color: var(--cor5);
    border-radius: 3px 3px 0px 0px;
}
main{
    background-color: white;
    min-width: 320px;
    max-width: 800px;
    margin: auto;
    margin-bottom: 15px;
    border-radius: 1px 1px 10px 10px;
    box-shadow: 0px 2px 8px black;
}
main > article > h1, h2{
    font-family: var(--fonte-android);
    color: var(--cor4);
    padding: 10px 10px 10px 10px;
}
main > article > h1{
    padding-bottom: 20px;
}
main > article > h2{
    padding: 1px 0px 1px 10px;
    margin: 15px 10px 15px 10px;
    background-image: linear-gradient(to right, var(--cor0), white);
}
main > article > p{
    font-size: 17px;
    text-align: justify;
    text-indent: 30px;
    padding: 1px 0px 1px 10px;
    margin: 5px 10px 5px 10px;
}
main strong{
    color:var(--cor3);
}
main > article > p > a{
    color: var(--cor5);
    font-weight: bold;
}
main > article > p > a:hover{
    padding: 1px;
    font-size: 1.05em;
    transition: 0.5s;
    font-weight: bolder;
    text-decoration: underline;
}
main > article > picture > img {
    width: 100%;
    display: block;
    margin: auto;
}
main > article > #bugdroid {
    width: 50%;
    display: block;
    margin: auto;
}
#video{
    width: 100%;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--cor4);
}
#video > iframe {
    width: 90%;
    display: block;
    margin: auto;
}
aside {
    background-color: var(--cor0);
    max-width: 95%;
    margin: auto;
    padding-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 8px black;
}
aside > h3 {
    background-color: var(--cor4);
    color: white;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
}
aside > p{
    text-align: justify;
    text-indent: 30px;
    padding: 5px;
    margin: 5px;
}
aside > p > a{
    color: var(--cor4);
    font-weight: bold;
}
aside > p > a:hover{
    padding: 1px;
    font-size: 1.05em;
    transition: 0.5s;
    font-weight: bolder;
    text-decoration: underline;
}
aside > ul {
    columns: 2;
    list-style-type: none;
}
 aside > ul > li :hover {
    padding: 5px;
    font-weight: bold;
}
main > p {
    text-align: justify;
    text-indent: 30px;
    padding: 10px;
    margin: 10px;
}
footer{
    background-color: var(--cor4);
    text-align: center;
    color: var(--cor1);
    padding: 5px;
}
footer > p > a{
    color: white;
    font-weight: bold;
}
footer > p > a:hover{
    font-weight: bolder;
    text-decoration: underline;
}